<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <span class="text-muted"><strong>Lition's free farmer cooperative 
                    </strong></span> - <span class="text-muted"><strong>Information Management System</strong></span>
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="{% url 'dashboard' %}" target="_blank">Dashboard</a>
                    </li>  
                    <li class="list-inline-item">
                        <a class="text-muted" href="{% url 'supplier' %}" target="_blank">Supplier</a>
                    </li>  
                    <li class="list-inline-item">
                        <a class="text-muted" href="{% url 'items' %}" target="_blank">Items</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>