{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Supplier Page{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row mb-2 mb-xl-3">
        <div class="col-auto d-none d-sm-block">
            <h1 class="h3 mb-3">Supplier Page</h1>
        </div>

        <div class="col-auto ms-auto text-end mt-n1">
            <a href="{% url 'add_supplier' %}" class="btn btn-primary btn-lg">Add Supplier</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-message">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            
            <div class="card">
                <div class="card-body">
                    <table id="datatables-buttons" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Supplier Name</th>
                                <th>Postal Code</th>
                                <th>Barangay</th>
                                <th>Address</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for supplier_list in supplier_lists %}
                            <tr>
                                <td>{{ supplier_list.supplier_name }}</td>
                                <td>{{ supplier_list.supplier_postal_code }}</td>
                                <td>{{ supplier_list.supplier_barangay }}</td>
                                <td>{{ supplier_list.supplier_address }}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <!-- <button class="btn btn-white btn-md" id="action_view" data-supplierid="{{ supplier_list.supplier_id }}">
                                            <i data-feather="eye"></i>
                                        </button> -->
                                        <a class="btn btn-danger btn-md" href="{% url 'delete_supplier' pk=supplier_list.supplier_id %}">
                                            <i data-feather="trash"></i>
                                        </a>
                                        <a class="btn btn-success btn-md" href="{% url 'edit_supplier' pk=supplier_list.supplier_id %}">
                                            <i data-feather="edit"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/datatables.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {

        var datatablesButtons = $("#datatables-buttons").DataTable({
            responsive: true,
            lengthChange: !1,
            buttons: ["copy", "print"]
        });
        $('#datatables-buttons_filter input').addClass('form-control-lg');
        datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");
    });
</script>
<script>
    $(document).ready(function(){
        $('#datatables-buttons_wrapper .dt-buttons button').addClass('btn-success');
        $('#datatables-buttons_wrapper .dt-buttons button').addClass('btn-lg');
        
        $(document).on("click","#action_view",function(){
            $("#defaultModalPrimary").modal("show")
            var parent_element = $("#content_information")


            $.ajax({
                url: "{% url 'supplier' %}",
                method: "POST",
                data: {
                    "supplier_id": $(this).data("supplierid"),
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function(data){
                    var content = `
                    <div class="container">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <div class="alert-message">
                                <strong>Note:</strong> You are in read only mode, click the button below to edit the information.
                            </div>
                        </div>

                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="fw-bold">Supplier name</span>
                                    </div>   
                                    <div class="col-md-10">
                                        <input type="text" class="form-control form-control-lg" value="${data.supplier_name}" readonly/>
                                    </div>     
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-2">
                                        <span class="fw-bold">Supplier address</span>
                                    </div>   
                                    <div class="col-md-10">
                                        <input type="text" class="form-control form-control-lg" value="${data.supplier_address}" readonly/>
                                    </div>    
                                </div>


                                <div class="row mt-2">
                                    <div class="col-md-2">
                                        <span class="fw-bold">Postal Code</span>
                                    </div>   
                                    <div class="col-md-10">
                                        <input type="text" class="form-control form-control-lg" value="${data.postal_code}" readonly/>
                                    </div>    
                                </div>


                                <div class="row mt-2">
                                    <div class="col-md-2">
                                        <span class="fw-bold">Barangay</span>
                                    </div>   
                                    <div class="col-md-10">
                                        <input type="text" class="form-control form-control-lg" value="${data.barangay}" readonly/>
                                    </div>    
                                </div>


                                <div class="row mt-2">
                                    <div class="col-md-2">
                                        <span class="fw-bold">Contact Number</span>
                                    </div>   
                                    <div class="col-md-10">
                                        <input type="text" class="form-control form-control-lg" value="${data.contact_number}" readonly/>
                                    </div>    
                                </div>

                            </div> 

                        </form>
                    </div>
                    `;

                    parent_element.html(content)
                }
            })
        });
    });
</script>
{% endblock %}